
body{
    margin: 0;
    background-color: #F9FAFB;
}

.container01{
    background-color: #0F172A;
    color: #f2f2f3;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    font-size: large;

    column-gap: 85px;
    font-family: "BBH Sans Bartle", sans-serif;
    


    height: 45px;
}

a{
    color: none;
    list-style: none;
    font-style: none;
}

.logo{
     color: #f2f2f3;
     box-shadow: 0 2px 8px  #010a1f;
}

.item1{
    color: #f2f2f3;
    box-shadow: 0 2px 8px  #010a1f;  
}

.item2{
    color : #f2f2f3 ;
    box-shadow: 0 2px 8px   #010a1f;  
}

.item3{
     color: #f2f2f3;
     box-shadow: 0 2px 8px   #010a1f;  
}

.item4{
    color: #f2f2f3;
    box-shadow: 0 2px 8px    #010a1f;  

}

.item5{
    color: #f2f2f3;
    box-shadow: 0 2px 8px  #010a16;
    
}
.logo:hover{
    color: rgb(231, 27, 187);
}
.item1:hover{
    color: rgb(231, 27, 187);
}
.item2:hover{
    color: rgb(231, 27, 187);
}
.item3:hover{
    color: rgb(231, 27, 187);
}
.item4:hover{
    color: rgb(231, 27, 187);
}
.item5:hover{
    color: rgb(231, 27, 187);
}